body {
    font-family: 'Open-Sans', arial ;
    background-color: #020d2b;
    align-items: center;
    text-align: center; 
}
h1 {
   color: white;
    font-family: Open-Sans, arial;
    font-size: 50px;
    text-align: center; 
    border: 5px solid red; 
    border-radius: 20px
}
img {
    border: 5px solid red; 
    border-radius: 20px
}
p {
   color: white;
    font-family: Open-Sans, arial;
    font-size: 10px;
    text-align: center; 
  Padding: 10px red;
button {
    font-family: 'Open-Sans', arial ;
    background-color: #001a5f;
    border: 5px solid black; 
    border-radius: 20px
    padding: 10px 20px; 
    cursor: pointer;
      font-size: 16px;         
    transition: 0.3s;        
    text-decoration: none;    
    display: inline-block;
}





